
body{
  /* background-image: linear-gradient(to right, #e66b24, #e1781d, #db8518, #d59018, #ce9b1c); */
  /* background-image: linear-gradient(to left, #ac00bb, #8c007b, #630547, #360d22, #000000); */
  /* background-image: linear-gradient(to left, #e0e60f, #d2961e, #9e552f, #532827, #000000); */
  background-image: linear-gradient(to left, #4e1847, #3f1432, #2e1021, #1c0a12, #000000);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
